@import url('https://fonts.googleapis.com/css?family=Bungee|Nunito+Sans:400,700&display=swap&subset=latin-ext');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    color: #4A4A4A;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    border-bottom: 8px solid #FFE057;
    padding: 1.5rem;
}

nav {
    padding-top: 1.5rem;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 1.5rem;
}

nav a {
    font-family: 'Bungee', sans-serif;
    color: #992C2E;
    text-decoration: none;
}

section {
    padding: 6rem calc(50% - 30rem);
}

article {
    display: flex;
}

article > :not(:last-child) {
    margin-right: 4rem;
}

footer {
    color: white;
    background-color: #202020;

}

h1, h2, h3 {
    font-family: 'Bungee', sans-serif;
    color: #992C2E;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

p {
    line-height: 1.2;
}

footer h2 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.logo {
    height: 7rem;
}

.banner {
    background: url(images/tacos.jpg) no-repeat center center;
    background-size: cover;

    width: 100%;
    height: 30rem;
}

.call-out {
    width: 100%;
    height: 13rem;
    padding: 1.5rem;
    background: linear-gradient(rgba(255, 224, 87, .8), rgba(255, 224, 87, .8)), url(images/fire.jpg) no-repeat center center;
    background-size: cover, cover;

    font-family: 'Bungee', sans-serif;
    font-size: 1.8rem;
    color: #992C2E;
    line-height: 1.2;

    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    color: #992C2E;
}

#menu ul {
    min-width: 12rem;
}

#menu li:not(:last-child) {
    margin-bottom: 1rem;
}

#menu p {
    font-size: 1.3rem;
}

#menu a {
    font-family: 'Bungee', sans-serif;
    color: #992C2E;
    text-decoration: none;
}

#hours {
    background: linear-gradient(to right, #FFE057 40%, white 40%);
}

#hours h2 {
    background-color: #992C2E;
    color: white;
    width: 27rem;
    padding: 3rem 6rem;
    margin-top: -2rem;
    margin-left: 25%;
}

#hours ul {
    color: #992C2E;
    line-height: 2.5;
    font-weight: bold;
    text-align: right;

    width: 27rem;
    margin-left: 25%;
}
